<nav class="h-full py-6 px-4">
  <h2 class="text-lg font-medium text-gray-900 mb-4 px-2">Menu</h2>
  <ul class="space-y-2">
    <li class="transition-colors duration-200 rounded-md hover:bg-gray-100">
      <app-apigee-organization-nav-button class="block w-full p-2"></app-apigee-organization-nav-button>
    </li>
    <li class="transition-colors duration-200 rounded-md hover:bg-gray-100">
      <app-apigee-environment-nav-button class="block w-full p-2"></app-apigee-environment-nav-button>
    </li>
    <li class="transition-colors duration-200 rounded-md hover:bg-gray-100">
      <app-apigee-api-nav-button class="block w-full p-2"></app-apigee-api-nav-button>
    </li>
  </ul>
</nav>
